<%<hi:common_header runat="server" skinname="/ascx/tags/Skin-Common_Header1.ascx" />%>
<style>
.my_left_category {
        display: block !important;
}
</style>
<div class="main_index" id="main_index">
    <div class="mainlunbo">
    
    	<div class="ad-content">
        	<div class="ad-box">
            	<div class="title">
                	<img src="/images/news.png" />
                	<span>海美之窗</span>
                    <a href="moreNews.aspx">更多>></a>
                </div>
                <!--<ul>
                	<li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                    <li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                    <li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                    <li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                    <li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                    <li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                    <li><a href="#">【媒体报道】海美生活将于明日网在海在海</a></li>
                </ul>-->
                <%<Hi:Common_ShopNews ID="Common_ShopNews" MaxCNum="8" runat="server" />%>
                <div class="new-notice">
                	<img src="/images/notice2.png" />
                    <span>最新活动</span>
                </div>
                <div class="ad-circle">
                	<img src="/images/cs-img.png" width="140" />
                </div>
            </div>
        </div>
        <!--新加的新闻部分-->
        <hi:common_customad runat="server" adid="11" />
    </div>
    <div class="main1 fix">
        <div class="box1 mt20">
            <table class="banner-table" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <hi:common_imagenewad adid="newads_002" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                    <td>
                        <hi:common_imagenewad adid="newads_003" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                    <td>
                        <hi:common_imagenewad adid="newads_004" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                    <td>
                        <hi:common_imagenewad adid="newads_005" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                    <td>
                        <hi:common_imagenewad adid="newads_006" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                    <td>
                        <hi:common_imagenewad adid="newads_007" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                    <td>
                        <hi:common_imagenewad adid="newads_008" divcss="adv_image cssEdite" imgstyle="width:171px;height:180px;" runat="server" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="floor floor-1">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">1F</span><span class="title">母婴用品</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-5000000.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_11" divcss="cssEdite" runat="server" />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_12" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_13" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_14" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_15" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_16" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_17" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_18" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_19" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_20" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-2">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">2F</span><span class="title">海外直邮</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-8000072.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_201" divcss="cssEdite" runat="server" />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_202" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_203" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_204" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_205" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_206" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_207" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_208" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_209" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_210" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-3">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">3F</span><span class="title">食品保健</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-1000000.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_301" divcss="cssEdite" runat="server" />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_302" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_303" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_304" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_305" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_306" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_307" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_308" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_309" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_310" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-4">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">4F</span><span class="title">美妆洗护</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-8000038.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_401" divcss="cssEdite" runat="server" />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_402" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_403" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_404" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_405" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_406" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_407" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_408" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_409" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_410" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-5">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">5F</span><span class="title">家居日用</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-8000040.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_501" divcss="cssEdite" runat="server" imageattr="dclass='lazyload' " />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_502" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_503" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_504" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_505" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_506" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_507" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_508" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_509" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_510" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-6">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">6F</span><span class="title">宜和购物</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-8000042.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_601" divcss="cssEdite" runat="server" />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_602" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_603" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_604" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_605" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_606" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_607" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_608" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_609" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_610" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-7">
            <div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon">7F</span><span class="title">进口汽车</span> </div>
                </div>
                <div class="morelink" type="morelink"> <em><a href="/browse/category-8000044.aspx">更多</a></em> </div>
            </div>
            <div class="floor-main">
                <table class="fav-table floor-table bd-top-none" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="border-top-none">
                            <td class="m1">
                                <hi:common_imagenewad adid="newads_701" divcss="cssEdite" runat="server" />
                            </td>
                            <td rowspan="2">
                                <table class="fav-table floor-table border-none" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr class="border-top-none">
                                            <td rowspan="2" class="bd-left-none bd-bottom-none m3">
                                                <hi:common_imagenewad adid="newads_702" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_703" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td colspan="2">
                                                <hi:common_imagenewad adid="newads_704" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_705" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                        <tr class="border-bottom-none">
                                            <td class="m4">
                                                <hi:common_imagenewad adid="newads_706" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m5">
                                                <hi:common_imagenewad adid="newads_707" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="m6">
                                                <hi:common_imagenewad adid="newads_708" divcss="cssEdite" runat="server" />
                                            </td>
                                            <td class="bd-right-none">
                                                <hi:common_imagenewad adid="newads_709" divcss="cssEdite" runat="server" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hi:common_imagenewad adid="newads_710" divcss="cssEdite" runat="server" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="floor floor-8" id="common_default_productlist">
            <script type="text/javascript">
                var pageindex = 0;
                function HuanClicek() {
                    pageindex++;
                    $.ajax({
                        type: "get",
                        url: "/Common_Default_ProductList_AJAX.aspx",
                        data: { pageIndex: pageindex },
                        success: function (data) {
                            $("#common_default_productlist").html(data);
                            if ($("#common_default_productlist table td").length != 6)
                            {
                                pageindex = -1;
                                HuanClicek();
                            }
                        },
                        error: function () {
                            //alert("error");
                            pageindex--;
                        }
                    });
                }</script>
            <hi:common_default_productlist id="rp_guest" MaxNum="6" runat="server" />
        </div>
        <div class="tb-wrap" id="tb-wrap">
            <div class="tb-con">
                <div class="tb-list">
                    <a class="tb-flr f1" data-sc="floor-1">
                        <em></em>
                        <span>母婴用品</span>
                    </a>
                    <a class="tb-flr f2" data-sc="floor-2">
                        <em></em>
                        <span>海外直邮</span>
                    </a>
                    <a class="tb-flr f3" data-sc="floor-3">
                        <em></em>
                        <span>食品保健</span>
                    </a>
                    <a class="tb-flr f4" data-sc="floor-4">
                        <em></em>
                        <span>美妆洗护</span>
                    </a>
                    <a class="tb-flr f5" data-sc="floor-5">
                        <em></em>
                        <span>家居日用</span>
                    </a>
                    <a class="tb-flr f6" data-sc="floor-6">
                        <em></em>
                        <span>宜和购物</span>
                    </a>
                    <a class="tb-flr f7" data-sc="floor-7">
                        <em></em>
                        <span>进口汽车</span>
                    </a>
                    <a class="tb-flr f8" data-sc="top">
                        <em></em>
                        <span>返回顶部</span>
                    </a>
                    <a class="tb-flr f9" href="LeaveComments.aspx" target="_blank">
                        <em></em>
                        <span>用户反馈</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/utility/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/utility/slider.js"></script>
    <script type="text/javascript">
		$(function(){
			$('.my_left_category>div').filter('.my_left_category>div:gt(6)').hide ();
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(14)').mouseover(function(){
				$(this).siblings ('.my_left_category>div:gt(6)').show();
			})
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(14)').mouseout(function(){
				$(this).siblings ('.my_left_category>div:gt(6)').hide();
			})
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(14)').siblings ('.my_left_category>div:gt(6)').mouseover(function(){
				$('.my_left_category>div').filter ('.my_left_category>div:nth-child(14)').siblings ('.my_left_category>div:gt(6)').show();
			})
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(14)').siblings ('.my_left_category>div:gt(6)').mouseout(function(){
				$('.my_left_category>div').filter ('.my_left_category>div:nth-child(14)').siblings ('.my_left_category>div:gt(6)').hide();
			})
			
			/*$('.my_left_category>div').filter('.my_left_category>div:gt(2)').hide ();
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(6)').mouseover(function(){
				$(this).siblings ('.my_left_category>div:gt(2)').show();
			})
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(6)').mouseout(function(){
				$(this).siblings ('.my_left_category>div:gt(2)').hide();
			})
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(6)').siblings ('.my_left_category>div:gt(2)').mouseover(function(){
				$('.my_left_category>div').filter ('.my_left_category>div:nth-child(6)').siblings ('.my_left_category>div:gt(2)').show();
			})
			$('.my_left_category>div').filter ('.my_left_category>div:nth-child(6)').siblings ('.my_left_category>div:gt(2)').mouseout(function(){
				$('.my_left_category>div').filter ('.my_left_category>div:nth-child(6)').siblings ('.my_left_category>div:gt(2)').hide();
			})*/
			
		})
		
        $(function () {
            //猜你喜欢 滑动
            $('#swiper-container').flexslider({
                animation: "slide",
                direction: "horizontal",
                easing: "swing",
                directionNav: false,
                animationLoop: true,
                slideshowSpeed: 5000, // 自动播放速度毫秒
                animationSpeed: 200 //滚动效果播放时长
            });
            //关闭 头部 广告
            $("#guild-close").bind("click", function () {
                $(this).parents(".guild-wrap").hide();
            })
            //图片懒加载
            $("img.lazyload").lazyload({ failure_limit: 1 });
            //顶部间隙
            var mt = $(window).height() / 2;
            var $floor = $(".floor:not(.fav-floor)");
            function setFloor() {
                var top = $(window).scrollTop();
                var winH = $(window).height();
                var theme = "hover";
                //判断 到 哪一个楼层
                $floor.each(function (index, element) {
                    var offset = $(this).offset();
                    var arr = $(this).attr("class").split(" ");
                    var sp = offset.top - mt;
                    if (top >= sp) {
                        var $curFloor = $("#tb-wrap .tb-flr[data-sc=" + arr[1] + "]");
                        $curFloor.addClass(theme).siblings().removeClass(theme);
                        return;
                    }
                });
            }
            var scInter;
            //滚动
            $(window).bind("scroll.tb", function () {
                var $tbWrap = $("#tb-wrap");
                var scrooltop = $(this).scrollTop();
                var winH = $(window).height();
                var top = $(".floor-1").offset().top;
                if ((scrooltop + winH) >= top) {
                    $tbWrap.show();
                } else {
                    $tbWrap.hide();
                }
                if (scInter) {
                    window.clearTimeout(scInter);
                }
                scInter = window.setTimeout(setFloor, 0);
            })
            // 右侧工具条
            $("#tb-wrap a").bind("click", function () {
                var st = 0;
                var sc = $(this).attr("data-sc");
                if (sc == "top") {

                } else {
                    var $floor = $("." + sc);
                    var offset = $floor.offset();
                    st = offset.top - mt + 1;
                    if (st < 0) {
                        st = 0;
                    }
                }
                $('html,body').stop().animate({ scrollTop: st }, 200);
            })
        })
    </script>
    <script type=text/javascript>
        var _c = _h = 0;
        $(function () {
            $('#play > li').click(function () {
                var i = $(this).attr('alt') - 1;
                clearInterval(_h);
                _c = i;
                play();
                change(i);
            })
            $("#pic div").hover(function () { clearInterval(_h) }, function () { play() });
            play();
        })
        function play() {
            _h = setInterval("auto()", 6000);
        }
        var tit;
        function change(i) {
            var $curLi = $("#li" + i);
            $curLi.addClass("active").siblings().removeClass("active");
            var $curItem = $("#pic a").eq(i);
            var $siblings = $curItem.siblings();
            var theme = "active-ele";
            $siblings.removeClass(theme).stop().animate({ opacity: 0 }, 500);
            $curItem.stop().animate({ opacity: 1 }, 500, function () {
                window.clearTimeout(tit);
                tit = window.setTimeout(function () {
                    $curItem.addClass(theme);
                }, 10);
            });
        }
        function auto() {
            _c = _c > 2 ? 0 : _c + 1;
            change(_c);
        }

    </script>
    <%<hi:bfdscriptlabel runat="server" />%>
    <%<hi:common_footer runat="server" skinname="ascx/tags/Skin-Common_DefaultFooter.ascx" />%>
