<%<hi:common_header runat="server" skinname="/ascx/tags/Skin-Common_Header3.ascx" />%>
<link rel="stylesheet" href="/style/banner-enter.css" type="text/css">
<!--<div id="main1" class="main">
<div class="tqj"></div>
<div class="container articleshelp">
  <div class="cssleft">
  <h6><img src="/images/process/bzzx.gif" width="182" height="45" /></h6>
  <div class="csslist">

  </div>
  </div>
  <div class="cssright">
      <div class="cssright_h1"><a href="url:home">首页</a> > 帮助中心 </div>
    <ul class="cssborder">
        <%<Hi:ThemedTemplatedRepeater ID="rptHelps" runat="server" TemplateFile="/ascx/tags/Common_Comment/Skin-Common_HelpCenter_Help.ascx"  />%>
    </ul>
    <div class="csspage">            <div class="page">
                           <%<UI:Pager runat="server" ShowTotalPages="true" ID="pager" />%>
                </div></div>
  </div>
</div>
</div>-->
<div class="banner-bg-1920">
  <a href="">
    <img src="/images/banner3_1920.jpg">
  </a>
</div>
<div class="wrap">
    <!-- <div class="banner">
        <a href="#">
            <img src="/images/banner3_1920.jpg">
        </a>
    </div> -->
    <div class="ad-img">
        <a href="#">
          <img src="/images/banner3_1.jpg">
        </a>
    </div>
    <div class="ad-img">
        <a href="#">
          <img src="/images/banner3_2.jpg">
        </a>
    </div>
    <div class="ad-img">
        <a href="#">
          <img src="/images/banner3_3.jpg">
        </a>
    </div>
</div>
<div class="guarantee">
  <div class="guart">
    <img src="/images/guarantee.jpg">
  </div>
</div>
<%<hi:common_footer runat="server" />%>

