<%<hi:common_header runat="server" />%>
<link rel="stylesheet" href="/style/banner-enter.css" type="text/css">
<style>
    body {
        background-color: #f9ffef;
    }
</style>
<!--<div id="main1" class="main">
<div class="tqj"></div>
<div class="container articleshelp">
  <div class="cssleft">
  <h6><img src="/images/process/bzzx.gif" width="182" height="45" /></h6>
  <div class="csslist">

  </div>
  </div>
  <div class="cssright">
      <div class="cssright_h1"><a href="url:home">首页</a> > 帮助中心 </div>
    <ul class="cssborder">
        <%<Hi:ThemedTemplatedRepeater ID="rptHelps" runat="server" TemplateFile="/ascx/tags/Common_Comment/Skin-Common_HelpCenter_Help.ascx"  />%>
    </ul>
    <div class="csspage">            <div class="page">
                           <%<UI:Pager runat="server" ShowTotalPages="true" ID="pager" />%>
                </div></div>
  </div>
</div>
</div>-->
<div class="banner-bg-1920">
    <a href="">
        <img src="/images/banner2_1920.png">
    </a>
</div>
<div class="wrap">
    <div class="active-rules">
        <div class="rule-contain">
            <p>1.  该专场所有商品售价均为市场价的<span class="stress">1</span>折，限量<span class="stress">100</span>份，先购先得，购完为止。</p>
            <p>2.  每天<span class="stress">10</span>点、<span class="stress">15</span>点、<span class="stress">21</span>点准点开抢！  </p>
            <p>3.  每个ID限购<span class="stress">1</span>件<span class="stress">1</span>折秒杀产品。</p>
            <p>4.  此专场商品不支持退换货。   </p>
            <p>5.  此专场不能使用优惠券、现金券。</p>
        </div>
    </div>
    <div class="purchase rush1">
        <div><span class="time-act time-act1"></span><h2>&nbsp;&nbsp;每天定点开抢</h2></div>
        
        <ul class="product-purchase">
            <%
            <Hi:ThemedTemplatedRepeater ID="rptProduct" runat="server" TemplateFile="/ascx/Tags/Common_GoodsList/Skin-Common_GoodsList_ActiveCountDownBuy.ascx" />%>
        </ul>
    </div>
    <div class="purchase rush2">
        <div><span class="time-act time-act2"></span><h2>&nbsp;&nbsp;每天定点开抢</h2></div>
        <ul class="product-purchase">
            <%
            <Hi:ThemedTemplatedRepeater ID="rptProduct2" runat="server" TemplateFile="/ascx/Tags/Common_GoodsList/Skin-Common_GoodsList_ActiveCountDownBuy.ascx" />%>
        </ul>
    </div>
    <div class="purchase rush3">
        <div><span class="time-act time-act3"></span><h2>&nbsp;&nbsp;每天定点开抢</h2></div>
        <ul class="product-purchase">
            <%
            <Hi:ThemedTemplatedRepeater ID="rptProduct3" runat="server" TemplateFile="/ascx/Tags/Common_GoodsList/Skin-Common_GoodsList_ActiveCountDownBuy.ascx" />%>
        </ul>
    </div>
    <div class="purchase rush4">
        <div><span class="time-act time-act4"></span><h2>&nbsp;&nbsp;每天定点开抢</h2></div>
        <ul class="product-purchase">
            <%
            <Hi:ThemedTemplatedRepeater ID="rptProduct4" runat="server" TemplateFile="/ascx/Tags/Common_GoodsList/Skin-Common_GoodsList_ActiveCountDownBuy.ascx" />%>
        </ul>
    </div>
    <div class="purchase rush5">
        <div><span class="time-act time-act5"></span><h2>&nbsp;&nbsp;每天定点开抢</h2></div>
        <ul class="product-purchase">
            <%
            <Hi:ThemedTemplatedRepeater ID="rptProduct5" runat="server" TemplateFile="/ascx/Tags/Common_GoodsList/Skin-Common_GoodsList_ActiveCountDownBuy.ascx" />%>
        </ul>
    </div>
</div>

<!-- <div class="guarantee">
    <div class="guart">
        <img src="/images/guarantee.jpg">
    </div>
</div> -->
<%<hi:common_footer runat="server" />%>

