<%<Hi:Common_Header runat="server" SkinName="/ascx/tags/Skin-Common_Header1.ascx" />%>
<style type="text/css">
	.my_left_category{display:block !important;}
</style>

<div class="main_index" id="main_index">
<div class="mainlunbo"><Hi:Common_CustomAd runat="server" AdId="11" /></div>

<div class="main1">
<div class="box1"><Hi:Common_ImageAd runat="server" AdId="29" /></div>
<!--<div class="box2"><div class="conentyl"><span><Hi:Common_CustomAd runat="server" AdId="18" /></span>
        <div class="box2_r"><div class="box2_top"><Hi:Common_CustomAd runat="server" AdId="19" /></div>
        <em><Hi:Common_CustomAd runat="server" AdId="30" /></em>
        </div></div></div>
        
 <div class="box3"><Hi:Common_CustomAd runat="server" AdId="31" /></div>
 






    <div class="main_p2">
        <div id="main_p2_l" class="main_p2_l">
            <div class="main_p2_tab">
                <script src="/utility/Tags/TagsHelper.js" type="text/javascript"></script>
                <Hi:Common_SubjectProduct_Tab runat="server" SubjectId="2" />
            </div>
        </div>
        <div id="main_p2_r" class="main_p2_r">
           <div class="notice_tab">
    <div class="notice_tab_hd">
    <em>网站公告</em><span></span>
    </div>
    <div class="bd">
    <ul>
    <%<Hi:Common_AfficheList runat="server" TemplateFile="/ascx/tags/Common_Comment/Skin-Common_AfficheList.ascx" MaxNum="4" />%>
    </ul>
    </div>
  

    </div>
    
     <div class="ad6"><Hi:Common_ImageAd runat="server" AdId="6" /></div> 
        </div>
    </div>-->

		<div class="fav-floor">
        	<div class="floor_hd">
                <div class="title cssEdite" type="title">
                    <div><span class="icon"><img src="/images/common/like.png"></span><span class="title">猜你喜欢</span>
                    </div>
                </div>
                <div class="morelink cssEdite" type="morelink">
                    <em><a href="#">更多</a></em>
                </div>
            </div>
            <div class="floor-main">
            	<table class="fav-table" cellpadding="0" cellspacing="0">
                	<thead>
                		<tr>
                        	<th class="w1"></th>
                            <th class="w2"></th>
                            <th class="w3"></th>
                            <th class="w4"></th>
                            <th class="w5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a><img src="/images/temp/t1.jpg" class="img-resp"/></a>
                            </td>
                            <td rowspan="2">
                                <div class="banner">
                                	<div id="swiper-container" class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <div class="img"><a href="#"><img src="/images/temp/t3.jpg" width="100%"/></a></div>
                                            </li>
                                            <li>
                                                <div class="img"><a href="#"><img src="/images/temp/t3.jpg" width="100%"/></a></div>
                                            </li>
                                            <li>
                                                <div class="img"><a href="#"><img src="/images/temp/t3.jpg" width="100%"/></a></div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <a><img src="/images/temp/t4.jpg" class="img-resp"/></a>
                            </td>
                            <td rowspan="2">
                                <a><img src="/images/temp/t6.jpg" class="img-resp"/></a>
                            </td>
                            <td>
                                <a><img src="/images/temp/t7.jpg" class="img-resp"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a><img src="/images/temp/t2.jpg" class="img-resp"/></a>
                            </td>
                            <td>
                                <a><img src="/images/temp/t5.jpg" class="img-resp"/></a>
                            </td>
                            <td>
                                <a><img src="/images/temp/t8.jpg" class="img-resp"/></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pro_floor3 floor-2">
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="10" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="9" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
        <div class="spconentc"> 
        <div class="ad5_l">
            <Hi:Common_SubjectProduct_Top runat="server" SubjectId="10" /> 
        <div class="ad7"><Hi:Common_ImageAd runat="server" AdId="7" /></div>
        </div> <div class="ad5"><Hi:Common_ImageAd runat="server" AdId="5" /></div></div>

        <div class="sp1">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="11" />
        </div>
        </div>
        </div></div>
        
    
        
        <!--1F-->
         <div class="pro_floor4 floor-1" >
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="24" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="25" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><Hi:Common_ImageAd runat="server" AdId="8" /></div>

        <div class="sp2">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="16" />
        </div>
        </div></div></div>
        
		<!--2F-->
        <div class="pro_floor4 floor-3" style=" margin-top:10px;" >
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="26" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="27" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><Hi:Common_ImageAd runat="server" AdId="14" /></div>

        <div class="sp2">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="17" />
        </div>
        </div></div></div>
		
		<!--3F-->
        <div class="pro_floor4 floor-4" style=" margin-top:10px;" >
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="28" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="29" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><Hi:Common_ImageAd runat="server" AdId="35" /></div>

        <div class="sp2">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="18" />
        </div>
        </div></div></div>
		
		<!--4F-->
        <div class="pro_floor4 floor-5" style=" margin-top:10px;" >
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="30" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="31" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><Hi:Common_ImageAd runat="server" AdId="36" /></div>

        <div class="sp2">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="19" />
        </div>
        </div></div></div> 
		
		<!--5-->
        <div class="pro_floor4 floor-6" style=" margin-top:10px;" >
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="32" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="33" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><Hi:Common_ImageAd runat="server" AdId="37" /></div>

        <div class="sp2">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="20" />
        </div>
        </div></div></div> 
		
		<!--6F-->
        <div class="pro_floor4" style=" margin-top:10px;" >
        <div class="floor_hd">
        <Hi:Common_SubjectTitle runat="server" CommentId="34" /> 
        <Hi:Common_SubjectMoreLink runat="server" CommentId="35" />
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><Hi:Common_ImageAd runat="server" AdId="38" /></div>

        <div class="sp2">
         <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="21" />
        </div>
        </div></div></div> 

</div>
<script type="text/javascript" src="/utility/slider.js"></script>
<script type="text/javascript">
	$(function(){
		$('#swiper-container').flexslider({
			animation: "slide",
			direction:"horizontal",
			easing:"swing",
			directionNav: false,
			animationLoop: true,
			slideshowSpeed: 5000, // 自动播放速度毫秒
        	animationSpeed: 200 //滚动效果播放时长
		});
	})
</script>
<SCRIPT type=text/javascript>
 var _c = _h = 0; 
$(function(){
    $('#play > li').click(function(){
        var i = $(this).attr('alt') - 1; 
        clearInterval(_h);
        _c = i;
        play();
        change(i);        
    })
    $("#pic div").hover(function(){clearInterval(_h)}, function(){play()});
    play();
})
function play()
{
    _h = setInterval("auto()", 6000);
}
var tit;
function change(i)
{
    $('#play > li').addClass("bg normal");
   
    $("#li"+i).removeClass("bg normal");
    $("#li"+i).addClass("bg active");
    $("#pic div").hide().eq(i).fadeIn('slow');
	window.clearTimeout(tit);
	tit = window.setTimeout(function(){
		$("#pic div").removeClass("active-ele").eq(i).addClass("active-ele");
	},10);
}
function auto()
{    
    _c = _c > 2 ? 0 : _c + 1;
    change(_c);
}

</SCRIPT> 
<%<Hi:BFDScriptLabel runat="server" />%>




<%<Hi:Common_Footer runat="server" SkinName="ascx/tags/Skin-Common_DefaultFooter.ascx" />%>
