<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="EcShopSqlServer" />
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAle+UPUPOy0KpSsP2J3rQOAQAAAACAAAAAAAQZgAAAAEAACAAAADWio8GF0hxbCHppoXs6BinjfRvdFXwShvKTD+kBaxnxgAAAAAOgAAAAAIAACAAAAAYV0Z4/X78XziR1ueK3r3fE4fwXvwCzZ5izYoVlj5uCbABAABg45EjmaTLpk3lNb2o1Hpofk0eP2FqDnxXM7Tfw1EKFTn6yH4WDVv9xRW1jfJBI2Svv+7pTrwRCPWc7UD2LblPEtnvmuVHj0TZIfNsk/QqINafo0TC0/oM2J1p+ilHHavnj63RGHNy0GScKEQlhVBH+KFcW/N0QPYxQygIyXPlhpfzXyJwrI6QCN2XIOwQL3wq2bTKl/cp5rozGc5Ox5Udh/b5md9gapfHI9Tx/KVgk75nUdPcnrHMD2yeREemO2rOlKv2V2ThljzkuXQOIHPCrO2xNiGHLFe6ifpAPC3aSoTpNRTjPEBJwbjHvOOdaDOrxAb3irxH0aY1Ry8f+Kyvz9MJrWE5kzt8kW4H3QuNXi8dELMUo7ajiFEwFt+N81cALlH38iofu0MU/yelBCMrN+nxBYC9C1yo9LlmZ6miArj3yHvYqP/UQrZJOdtoTT8VICLXrdUQOmpL30mBi2iy1vPhWhMYKmPQuwXzQcCHq1Uwye5Djy76J/yB2YaD3D+yNbPFlkUnkSUVw5u4M5i6sGK+y8owc6tvn/2WrDf+0pyYuLvsoyqjgV5fIF8v4ntAAAAAOvRDQ0+KwahklynXe8EC1l0uQU+KIBj691tH9R5fg8kIlsb9VTZXVq6QgzfKsn10YjotxXpEFHijCOEBxQcS/w==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Kindeditor:BasePath" value="~/kindeditor/" />
    <add key="Kindeditor:FileCategoryJson" value="~/Admin/FileCategoryJson.aspx" />
    <add key="Kindeditor:FileManagerJson" value="~/Admin/FileManagerJson.aspx" />
    <add key="Kindeditor:UploadFileJson" value="~/Admin/UploadFileJson.aspx" />
    <add key="Key" value="7lNl4/ZJOdXUdjo+uJECbw==" />
    <add key="IV" value="dEOTBuE1P4CLzaKSMGWFGg==" />
  </appSettings>
  <system.web>
    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="1A33D86F426F860685B265ECD3130E76AD3D352F"
      decryptionKey="E2C5437CFF05D9666C872DF994696412A583224F8D65E1CE"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="false" validateRequest="false" autoEventWireup="false" pageBaseType="EcShop.UI.Common.Controls.HiPage, EcShop.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="On" defaultRedirect="/Default.aspx"></customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="SubmmitOrderHandler.aspx" type="EcShop.UI.SaleSystem.CodeBehind.SubmmitOrderHandler, EcShop.UI.SaleSystem.CodeBehind" />
      <add verb="*" path="ShoppingHandler.aspx" type="EcShop.UI.SaleSystem.CodeBehind.ShoppingHandler, EcShop.UI.SaleSystem.CodeBehind" />
      <add verb="*" path="RegionHandler.aspx" type="EcShop.UI.Common.Controls.RegionHandler, EcShop.UI.Common.Controls" />
      <add verb="*" path="UserStatisticeChart.aspx" type="EcShop.UI.Common.Controls.UserStatisticeChart, EcShop.UI.Common.Controls" />
      <add verb="*" type="EcShop.UI.Common.Controls.UploadHandler,EcShop.UI.Common.Controls" path="uploadHandler.aspx" />
      <add verb="*" path="PluginHandler.aspx" type="Ecdev.Plugins.ConfigHandler, Ecdev.Plugins" />
      <add verb="*" path="ExpressData.aspx" type="EcShop.UI.SaleSystem.CodeBehind.ExpressData, EcShop.UI.SaleSystem.CodeBehind" />
    </httpHandlers>
    <httpModules>
      <add name="EcShop" type="EcShop.Membership.Context.HiHttpModule, EcShop.Membership.Context" />
    </httpModules>
    <membership userIsOnlineTimeWindow="15" defaultProvider="SQLMembershipProvider">
      <providers>
        <add name="SQLMembershipProvider" type="EcShop.Membership.ASPNETProvider.SqlMembershipProvider, EcShop.Membership.ASPNETProvider" connectionStringName="EcShopSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" applicationName="EcShop" maxInvalidPasswordAttempts="5" passwordAttemptWindow="999" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <roleManager defaultProvider="SQLRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".EcdevRoles" cookieTimeout="90" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="true" cookieProtection="All" maxCachedResults="1000">
      <providers>
        <add name="SQLRoleProvider" type="EcShop.Membership.ASPNETProvider.SqlRoleProvider, EcShop.Membership.ASPNETProvider" connectionStringName="EcShopSqlServer" applicationName="EcShop" />
      </providers>
    </roleManager>
    <anonymousIdentification enabled="false" />
    <authentication mode="Forms">
      <forms name=".EcShop" protection="All" timeout="240" loginUrl="loginEntry.aspx" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpGet" />
        <remove name="HttpPostLocalhost" />
        <remove name="Documentation" />
        <remove name="Unknown" />
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360" requestValidationMode="2.0" />
  </system.web>

  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="EcShop.UI.Web.HiUsernameTokenManager,EcShop.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
      </securityTokenManager>
      <timeToleranceInSeconds value="3600" />
    </security>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers accessPolicy="Read, Execute, Script">
      <add name="htm" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>