<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <dataConfiguration defaultDatabase="EcShopSqlServer" />
  <connectionStrings>
    <!--<add name="EcShopSqlServer" connectionString="Data Source=114.119.6.228;Initial Catalog=SincDb;Persist Security Info=True;User ID=dev;Password=ecdev888" providerName="System.Data.SqlClient" />-->
    <!--<add name="EcShopSqlServer" connectionString="Data Source=172.29.5.40;Initial Catalog=HaimylifeDb;Persist Security Info=True;User ID=hmuser;Password=123456" providerName="System.Data.SqlClient" />-->
    <add name="EcShopSqlServer" connectionString="Data Source=192.168.1.130;Initial Catalog=HaimylifeDb;Persist Security Info=True;User ID=hm;Password=hm@123" providerName="System.Data.SqlClient" />

    <!--<add name="EcShopSqlServer" connectionString="Data Source=172.29.5.40;Initial Catalog=HaimylifeDb_re;Persist Security Info=True;User ID=hmuser;Password=123456" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE" />
        <!-- 0 to 6 (1 Debug 4 Error)-->
        <arg key="Level" value="1" />
      </factoryAdapter>
    </logging>
  </common>
  <!-- Log4Net -->
  <log4net debug="true">
    <!--日志-->
    <appender name="InfoLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="./logs/B2C_ApiInfoLogger_%date{yyyyMMddHH}.log.html" />
      </file>
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
        <param name="Header" value="[Header]&#xA;" />
        <param name="Footer" value="[Footer]&#xA;" />
      </layout>
    </appender>
    <!--警告-->
    <appender name="WarnLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="./logs/B2C_ApiWarnLogger_%date{yyyyMMddHH}.log.html" />
      </file>
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
        <param name="Header" value="[Header]&#xA;" />
        <param name="Footer" value="[Footer]&#xA;" />
      </layout>
    </appender>
    <!--Debug-->
    <appender name="DebugLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="./logs/B2C_ApiDebugLogger_%date{yyyyMMddHH}.log.html" />
      </file>
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
        <param name="Header" value="[Header]&#xA;" />
        <param name="Footer" value="[Footer]&#xA;" />
      </layout>
    </appender>
    <!---普通bug-->
    <appender name="ErrorLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="./logs/B2C_ApiError_%date{yyyyMMddHH}.log.html" />
      </file>
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
        <param name="Header" value="[Header]&#xA;" />
        <param name="Footer" value="[Footer]&#xA;" />
      </layout>
    </appender>
    <!--严重bug-->
    <appender name="FatalLogger" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="./logs/B2C_ApiFatalLogger_%date{yyyyMMddHH}.log.html" />
      </file>
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] - %m%n" />
        <param name="Header" value="[Header]&#xA;" />
        <param name="Footer" value="[Footer]&#xA;" />
      </layout>
    </appender>
    <!--邮件日志-->
    <appender name="SmtpLogger" type="log4net.Appender.SmtpAppender">
      <authentication value="Basic" />
      <to value="paul.xie@B2C_Api.com" />
      <from value="paul.xie@B2C_Api.com" />
      <username value="paul.xie@B2C_Api.com" />
      <password value="P@ssw0rD" />
      <subject value="App Api 异常日志" />
      <smtpHost value="mail.qq.com" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="日期：%d|线程ID：%t|优先级别：%p|当前对象：%c|文件名：%F 行号%L|错误信息：%m%n%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Fatal" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>
    <root>
      <!-- Setup the root category, add the appenders and set the default level -->
      <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="DEBUG" />
      <appender-ref ref="ErrorLogger" />
      <appender-ref ref="SmtpLogger" />
    </root>
    <logger name="SmtpAppender">
      <level value="ALL" />
      <appender-ref ref="SmtpLogger" />
    </logger>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Key" value="7lNl4/ZJOdXUdjo+uJECbw==" />
    <add key="IV" value="dEOTBuE1P4CLzaKSMGWFGg==" />

    <add key="PRODUCT_SHARE_URL_BASE" value="http://b2ctest.ecdev.cn/WapShop/ProductDetails.aspx?ProductId={0}"/>
    <add key="STORAGE_HOST" value="http://b2ctest.ecdev.cn"/>
    <add key="HOST" value="http://b2ctest.ecdev.cn"/>    
    <add key="HOST_BASE_PATH" value="E:\WORK\svn_228\Haimeiwang\trunk\Code\Api\EcShop.Web.Api"/>    
    <add key="NEED_VERIFY_ACCESSTOKEN" value="NO"/>
    <add key="USER_CACHE_KEEP_TIME" value="86400" />
    <add key="SITE_CACHE_KEEP_TIME" value="10" />
    <add key="TOKEN_CACHE_KEEP_TIME" value="28800" />
    <add key="USE_CACHE" value="YES"/>
    
    <add key="PAY_SIGNATURE" value="NO"/>
    <add key="PC_ENCRYPTION" value="YES"/>
    <add key="IOS_ENCRYPTION" value="YES"/>
    <add key="ANDROID_ENCRYPTION" value="YES"/>

    <add key="AVATAR_PATH" value="~/Storage/master/avatar" />
    <add key="AVATAR_URL_BASE" value="/Storage/master/avatar/" />
    <add key="AVATAR_MAX_SIZE" value="1000000" />

    <!--微信推广二维码图片地址-->
    <add key="QRCode_PATH" value="~/Storage/master/QRCode" />
    <add key="QRCode_URL_BASE" value="/Storage/master/QRCode/" />

    <add key="SMS_FORART" value="您好！您正在进行海美生活会员注册或重设密码，本次的验证码为:{0}，请勿向任何人提供您收到的短信验证码，并尽快完成验证。"/>

    <add key="DES_Key" value="" />
    <add key="DES_IV" value="" />
    <add key="sourcechars" value="0123456789" />
    <add key="newsourcechars" value="0123456789ABCDEFGHJKLMNPQRTUVWXY" />

    <!--是否显示显示购1、显示，其他掩藏-->
    <add key="IsActiveOpen" value="0"/>
    
    
  </appSettings>

  <system.web>
    <machineKey validationKey="1A33D86F426F860685B265ECD3130E76AD3D352F" decryptionKey="E2C5437CFF05D9666C872DF994696412A583224F8D65E1CE" validation="SHA1" decryption="3DES" />
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <membership userIsOnlineTimeWindow="15" defaultProvider="SQLMembershipProvider">
      <providers>
        <add name="SQLMembershipProvider" type="EcShop.Membership.ASPNETProvider.SqlMembershipProvider, EcShop.Membership.ASPNETProvider" connectionStringName="EcShopSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" applicationName="EcShop" maxInvalidPasswordAttempts="5" passwordAttemptWindow="999" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <roleManager defaultProvider="SQLRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".EcdevRoles" cookieTimeout="90" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="true" cookieProtection="All" maxCachedResults="1000">
      <providers>
        <add name="SQLRoleProvider" type="EcShop.Membership.ASPNETProvider.SqlRoleProvider, EcShop.Membership.ASPNETProvider" connectionStringName="EcShopSqlServer" applicationName="EcShop" />
      </providers>
    </roleManager>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SDKServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sdk999ws.eucp.b2m.cn:8080/sdk/SDKService"
          binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding"
          contract="HaimeiSmsService.SDKClient" name="SDKService" />
    </client>
  </system.serviceModel>
</configuration>
