<Hi:Common_vHeader  runat="server" />
<div class="commission-detail">
    <div class="form-group">
        <label for="username">申请时间：</label>
        <asp:literal runat="server" id="litRequestDate" />
    </div>
    <div class="form-group">
        <label for="username">提现金额：</label>
        ￥<%<Hi:FormatedMoneyLabel ID="litAmount" runat="server" />%>
    </div>
    <div class="form-group">
        <label for="username">提现帐号 ：</label>
        <asp:literal ID="litAccount" runat="server" />
    </div>
    <div class="form-group">
        <label for="username">审核状态：</label>
        <span class="text-danger"><asp:literal runat="server" id="litStatus" /></span>
    </div>
    <div class="form-group">
        <label for="username">审核日期：</label>
        <asp:literal runat="server" id="litAccountDate" />
    </div>

    <div class="form-group">
        <label for="username">管理员备注：</label>
        <span class="text-danger"><asp:literal runat="server" id="litMark" /></span>
    </div>
    <input type="button" id="btngoback" value="返回提现记录" class="btn btn-danger btn-block" />
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#btngoback").click(function (e) {
            history.go(-1);
        })
    });
</script>

<Hi:Common_vFooter  runat="server" />