<Hi:Common_vHeader  runat="server" />
<div class="pbox search">
    <div class="input-group">
        <input type="text" id="txtKeywords" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-success" type="button" onclick="searchs()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</div>
<div class="pbox">
    <hi:VshopTemplatedRepeater id="rptSubReferrals" templatefile="/Tags/skin-Common_SubReferrals.ascx"
                             runat="server" />
    <div id="pager">
    </div>
</div>
<input type="hidden" value="" runat="server" clientidmode="static" id="txtTotal" />
<Hi:Common_vFooter  runat="server" />
<script src="/Utility/common.js" type="text/javascript"></script>
<script src="/Utility/pager.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        vshopPager('pager', $('#txtTotal').val(), 1, 10);

    });

    function searchs() {

        var key = $("#txtKeywords").val();
        var categoryId = getParam('categoryId');
        var url = "/wapshop/SubReferrals.aspx?keyword=" + escape(key);

        window.location.href = url;
    }
</script>
