<hi:common_vheader runat="server" />
<div class="page gray-page">
    <section>
        <div class="contact-con">
            <div class="ct-clomn">
                <h3>
                	<span>海美生活12小时为您服务！</span>
                    <p>每日（9:00-21:00）</p>
                </h3>               
                <a class="tel-btn" href="tel:4006639898"><span>400-6639-898</span></a> </div>
            <div class="ct-clomn ct-adp">
            	<p><label>邮箱：</label><a href="mailto:haimeiservice@xinlikang.com">haimeiservice@xinlikang.com</a></p>
                <p><label>地址：</label><span>深圳市福田区车公庙NEO大厦</span></p>
                <p><label>收信人：</label><span>深圳XXXXXXXXXX有限公司</span></p>
                <p><label>邮编：</label><span>518000</span></p>               
            </div>           
        </div>
    </section>
</div>
<hi:common_vfooter runat="server" />
