<Hi:Common_vHeader runat="server" />
<div>
<Hi:HiImage runat="server" ID="imgUrl" class="img-responsive" />
</div>
    <p class="text-center list-empty hide">
        没有找到相关商品
    </p>
    <div class="goods-detail pbox bgColor-white">
 <asp:Literal runat="server" ID="litContent" />
    </div>
<div class="pbox" id="productListContainer">
    <div class="goods-list-grid clearfix" id="goodslist">
        <hi:vshoptemplatedrepeater id="rptProducts" templatefile="/Tags/skin-Common_TopicProducts.ascx"
                                   runat="server" />
    </div>
    <div class="more-tip" id="more-tip">下拉加载更多...</div>
    <ul class="pager" style="display:none">
        <asp:Literal runat="server" ID="litPager" />
    </ul>
</div>
</div>
<footer class="sku-wrap" id="sku-wrap">
    <section class="sku-con" id="sku-con">
        <div class="sku-inner">
            <div class="sku-info clearfix"><img id="control_item_info_img" width="50" height="50" src="/Templates/vshop/haimei/images/lazy.png"> <span class="price">¥<span id="spSalaPrice">0.00</span></span>
                <div class="sku-close">&nbsp;</div>
            </div>
            <div class="control-wrap">
            	<input type="hidden" runat="server" id="hidden_skus" clientidmode="Static" />
                <div class="specification-box">
					<div class="skus-info"></div>      
                    <div class="buy-num">
                        <div class="text-muted">购买数量</div>
                        <div class="list clearfix">
                            <div class="goods-num clearfix">                                 
                                <div class="n-options clearfix"> <a class="op-btn reduce" id="spSub"><span></span></a> <a class="op-btn plus" id="spAdd"><span></span></a>
                                    <div class="input-con">
                                            <input type="tel" id="buyNum" class="form-control" value="1">
                                        </div>
                                </div>                                
                                <div class="info font-s text-muted">（剩余可购买数量：<span id="spStock">3000</span>件）</div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
        <div class="control-btns">
            <a class="btn btn-danger buy-btn" id="control-ok">确定</a>
        </div>
    </section>    
</footer>
<script src="/utility/vproduct.helper.js" type="text/javascript"> </script>
<script src="/script/addcart.js" type="text/javascript"></script>
<script src="/script/productlist.js?v=20150708" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		//修复样式
		$("body").addClass("plist");
    });
</script>
<footer id="footer" class="cfooter">
	<div class="scrolltop glyphicon glyphicon-chevron-up" id="scrolltop"></div>
</footer>



