
<Hi:Common_vHeader runat="server" />
<style>
body{
	background-color: #f9edb9;
}
section{
	background: none;
}
.gray-page{
	background: none;
}
.banner-ad{
	text-align: center;
	border: 4px solid #fff;
}
.banner-ad img{
	width: 100%;
}
.banner-box{
	padding: 0 5px;
}
.top-img{
    width:100%;
}
</style>
<div class="page gray-page">
    <section>
        <div class="fix">
            <!--<a class="dis-block mb10"><img src="/templates/vshop/haimei/resource/default/image/temp/topics/3.jpg" class="img-responsive" /></a>
        	<a class="dis-block mb10"><img src="/templates/vshop/haimei/resource/default/image/temp/topics/1.jpg" class="img-responsive" /></a>
            <a class="dis-block mb10"><img src="/templates/vshop/haimei/resource/default/image/temp/topics/2.jpg" class="img-responsive" /></a>
        	<a class="dis-block mb10"><img src="/templates/vshop/haimei/resource/default/image/temp/topics/3.jpg" class="img-responsive" /></a>-->
        	<div>
        		<img src="/images/banner_act.png" class="top-img">
        	</div>
            <div class="banner-box"><hi:vshoptemplatedrepeater id="rptActivity3" templatefile="/Tags/skin-Common_Activity3.ascx" runat="server" /></div>
        </div>
    </section>
</div>



<hi:common_vfooter runat="server" />



