<hi:common_vheader runat="server" />
<div class="page pt-page gray-page">
    <header class="gr-sh fix">
        <form action="/Vshop/SupplierList.aspx">
            <div class="drop-list" id="drop-list">
                <div class="drop-value">店铺</div>
                <div class="drop-option">
                    <div class="dr-op" data-value="1">商品</div>
                    <div class="dr-op" data-value="2">店铺</div>
                </div>
                <input type="hidden" id="conti" value="2" />
            </div>
            <div class="search-box">
                <div class="btn-bar"> <a class="msg-btn"></a> </div>
                <div class="search-input">
                    <a class="qcs" id="qrcode-btn"></a> <a class="search-btn" id="search-btn"></a>
                    <div class="input-con">
                        <input id="txtKeywords" type="search" name="keyWord" placeholder="搜索您想要的商品" />
                        <input type="hidden" name="categoryId" />
                    </div>
                </div>
            </div>
        </form>
    </header>
    <div class="sh-panel" id="sh-panel">
        <div class="sh-clumn">
            <h5 class="fix"><a class="sh-btn" onclick="GetOtherHotSearch()">换一批</a><span>热搜</span></h5>
            <div class="sh-con">
                <ul class="fix" id="hotserchlist">
                    <!--<li><a>热水壶</a></li>
                     <li><a>喜宝</a></li>
                     <li><a>儿童</a></li>
                     <li><a>自行车</a></li>
                     <li><a>奶粉</a></li>-->
                </ul>
            </div>
        </div>
        <div class="sh-clumn brt-none">
            <h5 class="fix"><a class="sh-btn" onclick="DelHistorySearch()">清空记录</a><span>历史搜索记录</span></h5>
            <div class="sh-con">
                <ul class="fix" id="historysearchList">
                    <!--<li><a>热水壶</a></li>
                    <li><a>喜宝</a></li>
                    <li><a>儿童</a></li>
                    <li><a>自行车</a></li>
                    <li><a>奶粉</a></li>-->
                    <hi:vshoptemplatedrepeater id="rpthistorysearch" templatefile="/Tags/skin-Common_HistorySearch.ascx" runat="server" />
                </ul>
            </div>
        </div>
        <a class="sh-close" id="sh-close">收起</a>
    </div>
    <section>
        <div class="no-data pl10 pr10" id="no-data">
            <p>没有找到相关店铺</p>
            <input type="hidden" clientidmode="Static" value="" runat="server" id="txtTotal" />
        </div>
        <div class="supp-list pt10 fix" id="supp-list">
            <ul class="goods-list-grid clearfix" id="goodslist">
                <hi:vshoptemplatedrepeater id="rptSupplierList" templatefile="/Tags/skin-Common_SupplierList.ascx" runat="server" />
                <!--<li>
        <li>
            <a>
                <div class="supp-wrap fix">
                    <div class="fr"> <span class="supp-fav">123456</span> </div>
                    <div class="supp-img"><img src="/images/lazy.png" data-original="/templates/vshop/haimei/resource/default/image/temp/shop.png" class="lazyload" /></div>
                    <div class="supp-con">
                        <div class="supp-name">爱他美旗舰奶粉店</div>
                        <p>店主：gudknguk<span class="ml20">北京</span></p>
                        <p>开店：2015-09-25 18：26：32</p>
                    </div>
                </div>
            </a>
        </li>-->
            </ul>
             <div class="more-tip" id="more-tip">正在加载更多...</div> 
        </div>       
        <!--<div class="pl10 pr10">
            <div id="pager"></div>
        </div>-->
    </section>
    <hi:common_vfooter runat="server" />
    <script src="/Utility/common.js" type="text/javascript"></script>
    <script src="/script/supplierlist.js" type="text/javascript"></script>
    <!--<script src="/Utility/pager.js" type="text/javascript"></script>-->
    <script type="text/javascript">
        $(function () {
            //没有数据
            if (!$('#supp-list > ul > li').length) {
                $('#supp-list').hide();
                $('#no-data').show();
            }

            //点击 收藏
            $(".supp-fav:not(.supp-fav-like)").on("click", function (e) {
                var sid = $(this).attr("data-id");
                SupplierFav(sid,$(this));
                e.preventDefault();
                e.stopPropagation();
            })
			//取消 收藏
            $(".supp-fav-like").on("click", function (e) {
                var sid = $(this).attr("data-id");
                cancelFav(sid,$(this));
                e.preventDefault();
                e.stopPropagation();
            })
            //评论分页数据
            //vshopPager('pager', $('#txtTotal').val(), 1, 10);
        });

        //店铺收藏
        function SupplierFav(supplierId,$ele) {
            $.ajax({
                url: "/API/VshopProcess.ashx",
                type: 'post', dataType: 'json', timeout: 10000,
                data: { action: "AddSupplierFav", SupplierId: supplierId },
                async: false,
                success: function (resultData) {
                    if (resultData.success == true) {
                        addSystemTip("收藏成功");
						$ele.addClass("supp-fav-like");
						var count = parseInt($ele.text());
						$ele.text(count+1);
						$ele.off("click").on("click",function(e){
							var sid = $(this).attr("data-id");
							cancelFav(sid,$(this));
							e.preventDefault();
							e.stopPropagation();
						})
                    }
                    else if (resultData.success == false) {
                        addSystemTip(resultData.msg);
                    }
                }
            });
        }
		function cancelFav(id,$ele) {
			var data = {};
			data.SupplierId = id;
			$.post("/api/VshopProcess.ashx?action=DelCollectSupplier", data, function (json) {
				if (json.success === true) {
					alert_h("取消成功");
					$ele.removeClass("supp-fav-like");
					var count = parseInt($ele.text());
					$ele.text(count-1);
					$ele.off("click").on("click",function(e){
						var sid = $(this).attr("data-id");
						SupplierFav(sid,$(this));
						e.preventDefault();
						e.stopPropagation();
					})
					//location.reload();
				}
				else {
					alert_h(json.msg);
				}
			});
		}
        function searchs() {
            var key = $("#txtKeywords").val();
            var url = "/Vshop/SupplierList.aspx?keyWord=" + escape(key);
            window.location.href = url;
        }

    </script>

