<hi:common_vheader runat="server" />
<div class="page gray-page">
    <section>
        <div class="pt20">
        	<div class="mb-panel">
        		<hi:VTemplatedRepeater id="helpCategories" templatefile="/Tags/skin-Common_HelpCategories.ascx"
                                         runat="server" />
            </div>
            <!--<div class="mb-panel">
                <a class="fix">订购流程</a>
                <a class="fix">售后服务</a>
                <a class="fix">优惠券说明</a>
                <a class="fix">积分说明</a>
                <a class="fix">商品价格说明</a>
            </div>
            -->
        </div>
    </section>    
</div>
<hi:common_vfooter runat="server" />
